*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}
body{
  background-image: url(../IMG/img-componenti.jfif);
  text-align: center;
  padding: 10px;
}
.contenitore{
  width: 90%;
  margin:auto;
  margin-top:2%;
  /* background-color: lightgrey; */
  /* background-color: orange; */
  text-align: center;
}
.box{
  /* border: 1px solid black; */
  margin-top: 10px;
  margin-bottom: 5px;
  display: inline-block;
  /* overflow: hidden; */
  position: relative;
}
 .box .img{
   width: 370px;
   height: 320px;
   cursor: pointer;

 }

.box .sconto{
  width: -15px;
  height: -15px;
  margin: 7px;
  background-color: green;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
}
.box:nth-child(even) .sconto{
  background-color: red;
}
.box .cuore{
  position: absolute;
  text-align: center;
  bottom:0;
  width: 100%;
  color:red;
  font-size: 30px;
  padding: 5px;
  display: none;
}

.box:hover .cuore{
  display: block;
}
.menù{
  width: 90%;
  height: auto;
  /* background-color: lightblue; */
  display: inline-block;
  margin: 5px;
  padding:5px;
  position: fixed;
  right: 5%;
  top:0;
  z-index:2;
}
.s-menù{
  width: 15%;
  height: 30px;
  background-color: lightyellow;
  display: inline-block;
  border:1px solid black;
  margin: 5px;
  padding:5px;
}
.img{
  width: 100%;
  height: 30px;
  background-color: lightblue;
  display: inline-block;
}
.menù-tendina-1 {
 width: 100%;
 text-align: center;
 background-color: lightyellow;
 border: none;
}
.elementi-tendina-1{
  text-align: left;
}

.menù-tendina{
  position: absolute;
  width: 20%;
  height: 500px;
  background-color:lightblue ;
  border:1px solid black;
  display: none;
  z-index: 1;
}
.s-menù:hover .menù-tendina{
  display: block;
}
.s-menù:hover .area-carrello{
  display: block;
}

.articolo-tendina{
  padding: 5%;
  background-color: lightyellow;
  border:1px solid black;
}
.area-carrello{
  width: 15%;
  height: 15%;
  position: absolute;
  background-color:lightyellow;
  border:1px solid black;
  display: none;
  z-index: 1;
}
.img-footer{
width:2000px;
height: 200px;

}
